@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

* {
  -webkit-font-smoothing: antialiased;
}


html {
  font-size: 50%;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 1.6rem;
  color: #222;
  background: #efefef;
}

h1{
  text-align: center;
  margin: 10rem;
}


a{
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.favourites{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 80%;
}

.box {
  padding: 2rem;
  box-shadow: .15rem .5rem .5rem rgba(0, 0, 0, 0.123);
}

.box h2 {
  margin-bottom: 4rem;
  margin-left: 4rem;
}

.box ul {
  list-style: none;
  margin-left: 4rem;
  padding: 0;
}


.box ul li {
  margin-top: 2rem;
  font-size: 2rem;
  position: relative;
}

.movies{
  background-color: rgb(253, 223, 223);
}

.books{
  background-color: rgb(211, 255, 224);
}

.hobbies{
  background-color: rgb(215, 226, 255);
}


.cover {
  z-index: 1;
  display: block;
  opacity: 0;
  position: absolute;
  /* left: 20rem ; */
  /* top: 0; */
  max-width: 15rem;
  border: #444 .1rem solid;
  transition: all .2s ease-in-out;
  pointer-events: none;
}

.box a:hover {
  text-decoration:underline;
}

.box a:hover + .cover{
  opacity: 1;
  /* z-index: 1; */
}

@media screen and (min-width: 40rem){

  html {
    font-size: 55%;
  }

  .favourites{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 80rem){

  html {
    font-size: 62.5%;
  }


  .favourites{
    grid-template-columns: 1fr 1fr 1fr;
  }
}